
<title>multiple-choice quiz form</title>



<div class="container">
    <h2>Order the Advices </h2>
    <div cdkDropList #advicesList="cdkDropList" [cdkDropListData]="AdvicesList"
      [cdkDropListConnectedTo]="[doneAdviceList]" class="advice-list" (cdkDropListDropped)="onDrop($event)">
      <div class="advice-block" *ngFor="let advice of AdvicesList" cdkDrag>{{advice}}</div>
    </div>
  </div>
  
  <div class="container">
    <h2>Drag your Best Advices from the list </h2>
    <div cdkDropList #doneAdviceList="cdkDropList" [cdkDropListData]="BestAdvices"
      [cdkDropListConnectedTo]="[advicesList]" class="advice-list" (cdkDropListDropped)="onDrop($event)">
      <div class="advice-block" *ngFor="let advice of BestAdvices" cdkDrag>{{advice}}</div>
    </div>
  </div>

<form method="post" action="mailto:raizen@mail.utexas.edu?subject=Vocabulary Quiz 1" enctype="text/plain">



