.page {
    margin-left: 20px;
    }
    h1 {
        text-align: center;
        color: green;
    }
    h2{
        color:darkolivegreen;
        text-align: center;
    }
    .image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
      }
      .subimage{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
      }