<div class=page>
  <h1 >Overview &amp; Facts</h1>
      <img src="./../../../assets/img/tips.jpg" alt="health"  class="image">
   
    
  <p class="introduction">Your heart, your brain – your entire body – benefits from exercise. In this chapter, we’ll bust the exercise myths that hold you back and help you set goals.</p>
  <ol class="chapter" data-metrics-module="dyn-gdchptrart">
    <li data-metrics-section="1" data-metrics-sel="li">
      <img src="./../../../assets/img/basic.jpg" alt="health" class="subimage">

      <h2>The Basics</h2>

      <ol class="section">
        <li>
          <a class="link-title" href="">Exercise and Weight Loss</a><br>
          <span class="link-description">How to start working out if you want to achieve specific weight loss goals. </span>
        </li>
        <li>
          <a class="link-title" href="">How Exercise Boosts Your Metabolism</a><br>
          <span class="link-description">Your next workout could set you up with a speedier metabolism.</span>
        </li>
        <li>
          <a class="link-title" href="">Making Time for Fitness</a><br>
          <span class="link-description">Creating your personal workout schedule.</span>
        </li>
        <li>
          <a class="link-title" href="">Your Guide to Getting Started</a><br>
          <span class="link-description">Use these simple how-tos to start your personalized fitness plan. </span>
        </li>
      </ol>
    </li>
    <img src="./../../../assets/img/benifit.png" alt="health" class="subimage">
    <h2>Exercise Benefits</h2>
      <ol class="section">
        <li>
          <a class="link-title" href="">Exercises for a Healthy Heart</a><br>
          <span class="link-description">Even taking a brisk walk for 30 minutes a day can make a big difference when it comes to exercising your heart muscle. </span>
        </li>
        <li>
          <a class="link-title" href="">Regular Exercise for Mental Health</a>
          <span class="link-description"></span>
        </li>
        <li>
          <a class="link-title" href="">Workout Plan That Improves Posture</a><br>
          <span class="link-description">The best way to improve your posture is to focus on exercises that strengthen your core -- the abdominal and low back muscles that connect to your spine and pelvis.</span>
        </li>
        <li>
          <a class="link-title" href="">Myths About Exercise and Aging</a><br>
          <span class="link-description">Fitness s timeless. At every age, it makes a huge difference in how you feel and move, helps you whittle down those numbers that your doctor keeps bringing up, and even brightens your mood.</span>
        </li>
      </ol>
    
      <img src="./../../../assets/img/success.png" alt="health" class="image">
        
      <h1 itemprop="headline">Tips for Success</h1>
      
      <h6>The path to a regular exercise routine has great rewards as well as roadblocks. We’ll help make it simple and safe – and give you motivation to push on.</h6>
      <ol class="chapter" data-metrics-module="dyn-gdchptrart">
        <li data-metrics-section="1" data-metrics-sel="li">
          <img src="./../../../assets/img/beating.png" alt="health" class="subimage">

          <h2>Beating the Obstacles</h2>
          <ol class="section">
            <li>
              <a class="link-title" href="https://www.webmd.com/fitness-exercise/guide/home-gym-ideas">No Gym? Exercise at Home</a><br>
              <span class="link-description">Use these tips to set up your at-home exercise routine.</span>
            </li>
            <li>
              <a class="link-title" href="https://www.webmd.com/fitness-exercise/ss/slideshow-9-least-effective-exercises">Risky Exercises and Better Bets</a><br>
              <span class="link-description">Who has time to waste on ineffective, risky exercises? Not you. So ditch these nine moves that may not deliver the results you want -- and may even cause injury.</span>
            </li>
            <li>
              <a class="link-title" href="">Best Workouts for Cold Weather</a><br>
              <span class="link-description">There are plenty of ways to be active in fall and winter, even if the weather turns cold. You can stay in shape and have fun while you're at it.</span>
            </li>
            <li>
              <a class="link-title" href="">Best Workouts for Hot Weather</a><br>
              <span class="link-description">Summer is a great time for being active. Even if you live where it gets hot or humid, there are ways you can stay in shape year-round. But make sure to take precautions when you are active outside.</span>
            </li>
          </ol>
        </li>
        <li data-metrics-section="2" data-metrics-sel="li">
          <img src="./../../../assets/img/better.jpg" alt="health" class="subimage">

          <h2>Getting Better</h2>
          <ol class="section">
            <li>
              <a class="link-title" href="https://www.webmd.com/fitness-exercise/guide/boost-exercise-routine">Take Your Workout to the Next Level</a><br>
              <span class="link-description">The best way to keep building muscle mass or burn calories is to make it a habit to switch up your workout -- especially when you notice that your current plan has become comfy.</span>
            </li>
            <li>
              <a class="link-title" href="https://www.webmd.com/fitness-exercise/guide/smart-weight-loss-fitness-device">Set Smarter Health Goals</a><br>
              <span class="link-description">Wouldn't it be nice if you knew exactly what to do to lose weight successfully? What you need is a fitness tracker and a smart goal! </span>
            </li>
            <li>
              <a class="link-title" href="https://www.webmd.com/fitness-exercise/guide/fitness-trackers-and-apps-for-weight-loss">Stay Healthy With These Apps</a><br>
              <span class="link-description">Combine your device with the right app and you may see even more results.</span>
            </li>
            <li>
              <a class="link-title" href="https://www.webmd.com/fitness-exercise/guide/compare-workout-trackers-devices">Should You Get a Fitness Tracker?</a><br>
              <span class="link-description">What these devices do and how to pick the right one for you.</span>
            </li>
            <li>
              <a class="link-title" href="https://www.webmd.com/fitness-exercise/guide/qsers-tips-food-activity-trackers">Tips for Using a Fitness Device</a><br>
              <span class="link-description">6 tips from fitness tracker super users.</span>
            </li>
          </ol>
        </li>
        <li data-metrics-section="3" data-metrics-sel="li">
          <img src="./../../../assets/img/injury.jpg" alt="health" class="subimage">

          <h2>Avoiding Sports Injuries</h2>
          <ol class="section">
            <li>
              <a class="link-title" href="https://www.webmd.com/fitness-exercise/guide/workout-injuries-prevention-and-treatment">Prevention and Treatment</a><br>
              <span class="link-description">WebMD takes a look at common workout injuries, how to prevent them, and what to do when workout injuries occur.</span><br>
            </li>
            <li>
              <a class="link-title" href="https://www.webmd.com/fitness-exercise/guide/muscle-strain">Muscle Strain Overview</a><br>
              <span class="link-description">Muscle strain -- or muscle pull or even a muscle tear -- implies damage to a muscle or its attaching tendons.</span><br>
            </li>
            <li>
              <a class="link-title" href="https://www.webmd.com/fitness-exercise/guide/exercise-and-lactic-acidosis">Lactic Acidosis and Exercise</a><br>
              <span class="link-description">Lactic acidosis occurs naturally during vigorous exercise.</span>
            </li>
            <li>
              <a class="link-title" href="https://www.webmd.com/fitness-exercise/guide/running-injuries-causes-prevention-treatment">Common Injuries From Running</a><br>
              <span class="link-description">Running injuries usually happen when you push yourself too hard or don't have the right form. You can prevent many of them. Here's how.</span>
            </li>
            <li>
              <a class="link-title" href="https://www.webmd.com/fitness-exercise/guide/knee-ligament-injuries">Knee Ligament Injuries</a><br>
              <span class="link-description">Ligament injuries in the knee - such as an anterior cruciate ligament (ACL) -- are dreaded by professional and amateur athletes alike.</span>
            </li>
            <li>
              <a class="link-title" href="https://www.webmd.com/fitness-exercise/guide/achilles-tendon-injury">Achilles Tendon Injury</a><br>
              <span class="link-description">Head injuries are injuries to the scalp, skull, or brain caused by trauma.</span>
            </li>
            <li>
              <a class="link-title" href="https://www.webmd.com/fitness-exercise/guide/ankle-injuries-causes-and-treatments">Ankle Injuries</a><br>
              <span class="link-description">Ankle injuries can happen to anyone at any age. Here's how to prevent and treat them. </span>
            </li>
            <li>
              <a class="link-title" href="https://www.webmd.com/pain-management/rotator-cuff-tear">Rotator Cuff Tear</a><br>
              <span class="link-description">It's one of the darkest fears of pitchers, tennis players, and many other athletes: a rotator cuff tear.</span>
            </li>
            <li>
              <a class="link-title" href="https://www.webmd.com/fitness-exercise/guide/head-injuries-causes-and-treatments">Head Injuries</a><br>
              <span class="link-description">Head injuries are injuries to the scalp, skull, or brain caused by trauma.</span>
            </li>
            <li>
              <a class="link-title" href="https://www.webmd.com/fitness-exercise/sports-injuries-a-to-z">Sports Injuries A-Z</a><br>
              <span class="link-description">Learn about different types of sports injuries and treatments.</span>
            </li>
          </ol>
        </li>
    </ol>